@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "HeliosCondBold";
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
body {
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  max-width: 1170px;
  width: 100%;
}
.header-container a {
  color: #000000;
}

.header-main {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
.header-logo__icon {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 210px;
  background: #FFCC00;
  height: 111px;
}
.header-logo__text {
  font-family: "HeliosCondBold", Fallback, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(8px + 5 * ((100vw - 320px) / 1120));
  line-height: 15px;
  margin-top: 8px;
}

.header-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
  font-family: "Roboto";
  color: #252525;
  letter-spacing: -0.01em;
}
.header-info a {
  color: #252525;
}
.header-info__navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: calc(7px + 5 * ((100vw - 320px) / 1120));
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 8px;
}
.header-info__navigation .divider {
  height: 10px;
  width: 1px;
  background: #000000;
  margin: 0px 14px 0px 13px;
}
.header-info__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-info__login {
  display: flex;
  align-items: center;
  margin-left: 181px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid red;
}
.header-content__bunner {
  max-width: 253px;
  background: #E2E2E2;
  width: 100%;
  height: 100%;
  max-height: 70px;
}
.header-content__cart {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: flex-start;
}
.header-content__cart a {
  border-bottom: 1px solid #252525;
  font-weight: 400;
  text-align: left;
}
.header-content__cart img {
  margin-right: 11px;
  width: 19px;
}
.header-content__cart-link {
  font-size: calc(9px + 5 * ((100vw - 320px) / 1120));
  line-height: 16px;
}
.header-content__star-link {
  margin: 12px 0px;
}
.header-content__star-link, .header-content__balance-link {
  font-size: calc(7px + 5 * ((100vw - 320px) / 1120));
  line-height: 14px;
}
.header-content__imgs {
  display: flex;
  margin-left: 35px;
  flex-direction: row;
}
.header-content__imgs :nth-child(2) {
  margin: 0px 15px;
}
.header-content__about {
  display: flex;
  outline: 1px solid red;
  width: 100%;
  max-width: 184px;
  margin-left: 55px;
}
.menu {
  display: flex;
}