@media only screen and (min-width: 1700px) {
     .header-content__tel{
       font-size: calc(10px + 10 * ((100vw - 320px) / 1120));
     }
}

@media only screen and (max-width: 1500px) {
     .header-container{
          max-width: 1170px;
          margin: 16px 0px;
     }
}


@media only screen and (max-width : 1200px) {
     .header-container{
          margin: 16px 20px;
     }
     .header-logo {
          margin-right: 10px;
     }
}

@media only screen and (max-width : 900px) {
     .header-logo {
               &__icon {
                    height: 12vh;
               }
     }
     .menu {
               &__links {
                    a{
                         padding: 0px 12px;
                    }
               }
          }
}

@media only screen and (max-width : 700px) {
     .header-content {
               &__cart-link, &__star-link, &__balance-link {
                    line-height: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
               }
               &__imgs{
                    display: flex;
                    flex-direction: column;
               }
               &__imgs :nth-child(2){
                    margin: 5px 0px;
               }
          }
}